@import "~/src/_variables.scss";

div.parallax {
	width: 100vw;
	height: 70vh;
	position: relative;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
  
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
}
div.parallax::after {
	content: "";
  background-image: url('https://placekitten.com/g/900/700');
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0px; left: 0px; right: 0px; bottom: 0px;
	z-index: -1;
  /* slightly larger scale to avoid ugly blur-bleeding */ 
	transform: translateZ(-3px) scale(6.1); 
	-webkit-transform: translateZ(-3px) scale(6.1);
  opacity: 0.7;
}
div.parallax.code-parallax::after {
  background-image: url('../../assets/images/code3.png');
  opacity: 0.9;
  filter: blur(3px);
}

.header-content {
  .text {
    margin-top: 0.5em;
    color: $whitetext;
  }
  .subtext {
    color: $whitetext2;
    font-weight: 400;
  }
  .profile-img {
    width: 33%;
    border-radius: 100%;
    box-shadow: $z-shadow-1;
  }
}