@import "~/src/_variables.scss";

$border-radius: 8px;
$margin: .3em;
$height: 2.2em;

.statbar-holder {
  display: flex;

  .icon-holder {
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
  }
}
.statbar {
  display: flex;
  width: 100%;
  align-items: center;
  color: $whitetext;
  border-radius: $border-radius;
  background-color: $altcolor;
  margin: $margin 0em;
  height: $height;

  .content {
    display: flex;
    height: $height;
    position: absolute;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: calc(2em + 48px);
    
    .title, .percent {
      margin-top: .2em;
    }
  }

  span.fillme {
    display: block;
    width: 0%;
    height: 100%;
    border-radius: $border-radius;
    background-color: $keycolor;
    position: relative;
    overflow: hidden;
    transition: width 0.66s ease-out;
  }
}