<div class="about-me content-section container-md">
  <app-flowfields></app-flowfields>

  <h1 class="header">About Me</h1>

  <div class="row">
    <div class="col-12 col-lg-4 profile-img-holder">
      <div class="col-8 col-sm-6 col-lg-10">
        <img class="img profile-img w-100" src="/assets/images/profile.jpg" />
      </div>
    </div>
  
    <div class="col-12 col-lg-8 statbars-section">
      <app-statbar [statbar]="stat" *ngFor="let stat of stats"></app-statbar> 
    </div>
  </div>
  <div class="col-12">
    <div class="blurb">
      Lorem ipsum dolor sit amet non consectetur adipiscing elit, et do eiusmod tempor acididunt
    </div>
  </div>
  <div class="col-12 mt-1 key-points-holder">
    <div *ngFor="let i of [0, 2]" class="d-flex w-50">
      <app-key-point style="display: block;" class="col-12 col-sm-6 p-0" [keypoint]="keypoints[i+j]" *ngFor="let j of [0, 1]"></app-key-point>
    </div>
  </div>
</div>