@import "~/src/_variables.scss";

.keypoint {
  @media (max-width: 575px) {
    padding: 0.4em;
  }

  text-align: center;
  padding: .8em;

  .icon-holder {
    @media (max-width: 575px) {
      width: 48px;
      height: 48px;
      font-size: 32px;
    }
    width: 64px;
    height: 64px;
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: $whitetext;
    background: $keycolor;
    border-radius: 8px;
  }
  .header {
    margin-top: .5em;
  }
  .blurb {
    font-size: 1em;
  }
}