@import "~/src/_variables.scss";

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}