@import "~/src/_variables.scss";

.project-holder {
  display: flex;
  justify-content: center;
  min-height: 80vh;
}

.project {
  text-align: center;

  .header {
    margin-top: .5em;
  }
  .status {
    color: $blacktext2;
    margin-bottom: 1.5em;
  }
  .blurb {
    padding: 1em 1em 2em 1em;
  }

  .images {
    display: flex;
    width: 100%;

    .img-prev {
      opacity: 0.8;
      padding: 0.2em;
      
      img {
        margin-left: -20%;
        width: 140%;
        border-radius: 3px;
        box-shadow: $z-shadow-1;
      }
    }
    .img-prev.active {
      opacity: 1;
      z-index: 1;
      img {
        margin-top: 15%;
        margin-left: -40%;
        width: 180%;
        box-shadow: $z-shadow-2;
      }
    }
  }
}