$white: #fbfbfe;
$keycolor: #0ba7b3;
$altcolor: #07607a;
$altcolor2: #333144;

$blacktext: #08080a;
$blacktext2: #29292c;
$blacktext3: #3a3a3e;

$whitetext: #f9f9fc;
$whitetext2: #e9e9ea;
$whitetext3: #c9c9cd;
$whitetext4: #bfbfc4;


$z-shadow-1: 0px 2px 4px 2px rgba(0, 0, 5, .24);
$z-shadow-2: 0px 3px 5px 4px rgba(0, 0, 5, .28); 


$xs-sm-breakpoint: 576px;
$sm-md-breakpoint: 768px;
$md-lg-breakpoint: 992px;
$lg-xl-breakpoint: 1200px;