$white: #fbfbfe;
$keycolor: #01a7c2;
$altcolor: #4e4187;

$blacktext: #08080a;
$blacktext2: #29292c;
$blacktext3: #3a3a3e;

$whitetext: #f6f6f9;
$whitetext2: #e0e0e2;


$z-shadow-1: 0px 2px 4px 4px rgba(0, 0, 5, .24);
$z-shadow-2: 0px 3px 4px 6px rgba(0, 0, 5, .28); 